<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Topic</title>
    <style>
        h2 {
            text-align: center
        }
        form{
            border:4px solid black;
            margin: 0 auto;
            padding: 40px;
            width: fit-content;
        }
    </style>
</head>
<body>
    {% extends 'earthseed/base.html' %}
    {% block content %} 
    <br>
    <div class="container"> 
      <h2>Forum Topic Discussion: Post a Topic</h2> 


      <form method="post" action="">
          {% csrf_token %}

          <table>
              {{form.as_table}}
          
          </table>
          <input type="submit" value="Submit" />
      </form>
    {% endblock %}
   
    <!-- {% load widget_tweaks %} -->
   <!-- <div class="modal-header">
      <h5 class="modal-title">Post New Topic</h5>  -->
      <!-- button trigger modal -->
      <!-- <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#post-topic-modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 

  
    <div class="modal-body">
     
      {% for field in form %}
        <div class="form-group{% if field.errors %} invalid{% endif %}">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
     
    </div>
  
    <div class="modal-footer">
      <button type="button" class="post-topic btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="post-topic btn btn-primary">Post</button>
    </div> -->

  <!-- </form> -->

  
  