<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Topicy</title>

<style>
    h2 {
        text-align: center
    }
    form{
        border:4px solid black;
        margin: 0 auto;
        padding: 40px;
        width: fit-content;
    }
</style>
</head>

<body>

    {% extends "earthseed/base.html" %}
    {% load static %}
    {% block content %}
    <br>
    <div class="container">   

        <h2><a href="{% url 'forum_list' %}">Forum Topic</a>: Edit</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </div>
    {% endblock %}
</body>
</html>
